.bs-kpi-selectAreaCode .el-input .el-input__inner {
  width: 184px !important;
}

.bs-kpi-selectAreaCode .el-select__tags {
  max-width: 156px !important;
}

.bs-kpi-selectBranchCode .el-input .el-input__inner {
  width: 150px !important;
}

.bs-kpi-selectBranchCode .el-select__tags {
  max-width: 136px !important;
}

.bs-kpi-receiveAccountName .el-input .el-input__inner {
  width: 244px !important;
}

.bs-kpi-receiveAccountName .el-select__tags {
  max-width: 216px !important;
}

.bs-kpi-accountNo .el-input__inner {
  width: 184px !important;
}

.bs-kpi-transactionNo .el-input__inner {
  width: 210px !important;
}

.bs-kpi-addInfo .el-input .el-input__inner {
  width: 320px !important;
}

.bs-kpi-query-accountNo .el-input__inner {
  width: 150px !important;
}

.bs-kpi-query-selectBranchCode .el-input .el-input__inner {
  width: 110px !important;
}

.bs-kpi-query-selectAreaCode .el-input .el-input__inner {
  width: 210px !important;
}

.bs-kpi-button-min-1x .el-input__inner {
  width: 110px !important;
}

.bs-kpi-button-min-08x .el-input__inner {
  width: 80px !important;
}

.bs-kpi-button-min-10x .el-input__inner {
  width: 100px !important;
}

.bs-kpi-button-min-15x .el-input__inner {
  width: 115px !important;
}

.bs-kpi-button-min-2x .el-input__inner,
.bs-kpi-button-min-2x .el-date-editor.el-input {
  width: 120px !important;
}

.bs-kpi-button-min-3x .el-input__inner,
.bs-kpi-button-min-3x .el-date-editor.el-input {
  width: 130px !important;
}

.bs-kpi-button-min-35x .el-input__inner,
.bs-kpi-button-min-35x .el-date-editor.el-input {
  width: 135px !important;
}

.bs-kpi-button-min-4x .el-input__inner,
.bs-kpi-button-min-4x .el-date-editor.el-input {
  width: 140px !important;
}

.bs-kpi-button-min-45x .el-input__inner,
.bs-kpi-button-min-45x .el-date-editor.el-input {
  width: 145px !important;
}

.bs-kpi-button-min-5x .el-input__inner,
.bs-kpi-button-min-5x .el-date-editor.el-input {
  width: 150px !important;
}

.bs-kpi-button-min-55x .el-input__inner {
  width: 155px !important;
}

.bs-kpi-button-min-7x .el-input__inner {
  width: 170px !important;
}

.bs-kpi-button-min-75x .el-input__inner,
.bs-kpi-button-min-75x .el-form-item__content {
  width: 175px !important;
}

.bs-kpi-date-button-min-75x .el-date-editor.el-input,
.bs-kpi-date-button-min-75x .el-date-editor.el-input__inner {
  width: 175px;
}

.bs-kpi-button-min-200x .el-input__inner {
  width: 200px !important;
}

.bs-kpi-button-min-220x .el-input__inner,
.bs-kpi-button-min-220x .el-form-item__content {
  width: 220px !important;
}

.bs-kpi-date-button-min-220x .el-date-editor.el-input,
.bs-kpi-date-button-min-220x .el-date-editor.el-input__inner {
  width: 220px;
}

.bs-kpi-button-min-250x .el-textarea__inner,
.bs-kpi-button-min-250x .el-input__inner,
.bs-kpi-button-min-250x .el-date-editor.el-input {
  width: 250px !important;
}

.bs-kpi-button-min-250x .el-input__inner {
  width: 250px !important;
}


.bs-kpi-button-min-300x .el-input__inner {
  width: 310px !important;
}

.bs-kpi-button-min-310x .el-textarea__inner,
.bs-kpi-button-min-310x .el-input__inner,
.bs-kpi-button-min-310x .el-date-editor.el-input {
  width: 310px !important;
}

.bs-kpi-button-min-330x .el-textarea__inner,
.bs-kpi-button-min-330x .el-input__inner,
.bs-kpi-button-min-330x .el-date-editor.el-input {
  width: 330px !important;
}

.bs-kpi-button-min-500x .el-textarea__inner,
.bs-kpi-button-min-500x .el-input__inner,
.bs-kpi-button-min-500x .el-date-editor.el-input {
  width: 500px !important;
}
.bs-kpi-button-group-330x .el-input-group {
  width: 330px !important;
}
.bs-kpi-button-min-900x .el-textarea__inner,
.bs-kpi-button-min-900x .el-input__inner,
.bs-kpi-button-min-900x .el-date-editor.el-input {
  width: 600px !important;
}
.bs-kpi-button-min-770x .el-textarea__inner,
.bs-kpi-button-min-770x .el-input__inner,
.bs-kpi-button-min-770x .el-date-editor.el-input,
.bs-kpi-button-min-770x .el-upload-dragger {
  width: 770px !important;
}

.bs-kpi-button-min-970x .el-textarea__inner {
  width: 970px !important;
}

.bs-kpi-date-width {
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 120px !important;
  }
}

.bs-kpi-date-width-164x {
  .el-date-editor.el-input,
  .el-date-editor .el-input__inner {
    width: 164px !important;
  }
  .el-input--prefix .el-input__inner {
    padding-left: 30px !important;
  }
}

.bs-search-flowMatch {
  .bs-search-short .el-form-item__content {
    width: 155px !important;
  }
  .bs-search-datetimerange .el-form-item__content {
    width: 350px !important;
  }
  .bs-search-datetimerange1 .el-form-item__content {
    width: 320px !important;
  }
  .bs-search-short .el-form-item__label {
    width: 80px !important;
  }
  .bs-search-long .el-form-item__label {
    width: 90px !important;
  }
}

.bs-search-flat-account {
  .bs-search-short .el-form-item__content {
    width: 130px !important;
  }
  .bs-search-datetimerange .el-form-item__content {
    width: 400px !important;
  }
  .bs-search-short .el-form-item__label {
    width: 70px !important;
  }
  .bs-search-long .el-form-item__label {
    width: 90px !important;
  }
}
